<!-- <a ui-sref="home">Home</a> &lt; <span>List</span> -->

<h3>Menu is as displayed Below</h3>
<!-- <shopping-list items="mainList.items"></shopping-list> -->
<h1>
	All categories<br>
	<a ui-sref="home">back to homepage</a>
</h1>
<shopping-list items="mainList.items"></shopping-list>
<!-- <ul>
  <li ng-repeat="category in mainList.items">
  	<a ui-sref="categoriesdet({shortName: category.short_name})">
    	{{ category.name }}
    </a>
  </li>
</ul> -->
<!-- <ui-view></ui-view> items({shortName: category.short_name})-->
