<div style="clear: both;"></div>
<div ng-if="ctrl.foundItems !== null">
<ul>
    <li ng-repeat="item in ctrl.foundItems">
        {{item.name}}
        <button style="
  background-color: #f44336;
  border: none;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;" ng-click="ctrl.onRemove({index: $index})">Don't want this one!</button></li>
</ul>
<div ng-if="ctrl.foundItems.length === 0">Nothing found</div>
</div>
